* {
    
}

:root {
    --dark-purple: #4f235b;
    --light-purple: #c69dd2;
    --medium-purple: #8d1d75;
    --darker-purple: rgb(10, 10, 20);
}

h1, h2, h3, h4, p {
    margin: 0;
}

body {
    margin: 0px;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 20vh 1fr auto;
    font-family: Roboto;
}

header {
    background: url(./images/bookshelf-bg.png);
    background: none;
    background-color: var(--darker-purple);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: space-between;
}

main {
    background-color: var(--light-purple);
    background-color: rgb(10, 10, 20);
    padding: 3vw;
    display: grid;
    gap: 20px
}

.book-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.book {
    box-shadow: black 4px 3px 9px;
    border-radius: 6px;
    padding: 32px 3vw;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    row-gap: 10px;
    color: white;
    border: solid 2px var(--dark-purple);
    border-left: solid 60px var(--medium-purple);
    
}

.title {
    align-self: flex-end;
    border-bottom: 2px double var(--light-purple);
    text-align: center;
    width: fit-content;
    justify-self: center;
}

.author { 
    text-align: center;
    align-self: flex-start;
    justify-self: center;
    width: fit-content;
    border-radius: 16px;
    grid-column: 1/2;
    grid-row: 2/3
}

.read, .delete {
    justify-self: flex-end;
    align-self:center;
}

.add-content.bottom {
    height: 10vh;
    border: solid 2px var(--dark-purple);
    width: 100%;
    border-radius: 16px;
    background: none;
    font-size: 32px;
    font-weight: bolder;
}

.quote {
    background-color: var(--medium-purple);
    color: white;
    display: grid;
    place-content: center;
    padding: 4rem;
    text-align: center;
}

footer {
    background-color: var(--dark-purple);
    height: 2rem;
}

.icon {
    height: 2rem
}